@charset "utf-8";

html,body{width:100%;height:100%;}
.wrap{position:relative;width:100%;height:100%;}
.wrap.main{background:#ffffff;}
.scroll{position:relative;width:100%;height:100%;overflow-y:auto;-webkit-overflow-scrolling: touch; }

/* 헤더 */
.header{position:absolute; width:100%; top:25px; text-align:center; z-index:100;}
.header .btn_menu{display:inline-block; position:absolute; top:0; left:13px; background:url(../image/layout/btn_menu.png) no-repeat center; width:17px; height:15px; background-size:17px 15px;}
.header .logo{display:inline-block; width:189px; height:28px; background:url(../image/layout/logo.png) no-repeat center; background-size:189px 28px;}
.header .btn_reserve{display:inline-block; position:absolute; top:0; right:13px; background:url(../image/layout/btn_reserve.png) no-repeat center; width:30px; height:15px; background-size:30px 15px;}

/* 메인롤_01 */
.img_box{position:relative; text-align:center;}
.img_box img{width:100%; z-index:-1;}
/* 메인롤_02 */
.swiper-container.roll_02 .swiper-wrapper .btn_detail{position:absolute; display:inline-block; background:url(../image/layout/btn_detail.png) no-repeat center; width:92.5px; height:20px; background-size:92.5px 20px; z-index:100; top:86px; left:50%; transform: translateX(-50%);}

/* 타이틀_01(진행중인프로모션) */
.title{position:relative; width:100%; height:20px; margin-top:20px;  border-bottom:3px solid #ebebeb; box-sizing:content-box;}
.title .title_01{position:absolute; top:0; left:24px; background:url(../image/layout/title_01.png) no-repeat center; width:110px; height:15px; background-size:110px 15px; }
.title .btn_more{position:absolute; display:inline-block; top:5px; right:24px; background:url(../image/layout/btn_more.png) no-repeat center; width:39px; height:9px; background-size:39px 9px;}

/*메인롤_03*/
.img_box_03{position:relative; padding:19px 24px 0px 24px; text-align:center;}
.img_box_03 img{width:100%; z-index:-1}
.img_box_03 .txt_recommand{position:absolute; display:inline-block; background:url(../image/layout/txt_recommand.png) no-repeat center; width:69px; height:22px; background-size:69px 22px; z-index:100; top:19px; left:24px;}
.img_box_03 h3{font-size:13px; color:#000000; font-weight:bold; margin-top:12px;}
.img_box_03 h3 span{font-size:9px;}
.img_box_03 p{font-size:10px; color:#000000; font-weight:bold; margin-top:10px;}
.img_box_03 .grade{margin-top:10px; text-align:center;}
.img_box_03 .grade .level{display:inline-block; background:url(../image/layout/best.png) no-repeat center; width:69px; height:18px; background-size:69px 18px;}
.img_box_03 .grade .price{display:inline-block; font-size:12px; width:69px; height:18px; background:#4d7b47; color:#ffffff; vertical-align:top; line-height:17px; }

/*이벤트*/
.event{ width:100%; padding:35px 25px 0px 25px;}
.event .event_box{ overflow:hidden; padding:20px; border:1px solid #b7b7b7; }
.event .event_box div{float:left;}
.event .event_box .img{ width:50%; }
.event .event_box .img img{width:100%;}
.event .event_box .text{width:50%; padding-left:20px;}
.event .event_box .text h3{font-size:13px; font-weight:bold; line-height:26px; letter-spacing:-1px;}
.event .event_box .text p{font-size:9px; line-height:18px;  letter-spacing:-1px;}

/* 더화이트호텔멤버쉽 */
.title .title_02{position:absolute; top:0; left:24px; background:url(../image/layout/title_02.png) no-repeat center; width:122px; height:15px; background-size:122px 15px; }
.member{position:relative; overflow:hidden; height:29px; margin-top:12px;}
.member .wise{position:absolute; top:0; left:24px; display:inline-block; background:url(../image/layout/title_02_01.png) no-repeat center; width:134px; height:29px; background-size:134px 29px; }
.member .sign{position:absolute; top:0; right:24px; display:inline-block; background:url(../image/layout/btn_sign.png) no-repeat center; width:121.5px; height:28px; background-size:121.5px 28px;}
.title .title_03{position:absolute; top:0; left:24px; background:url(../image/layout/title_03.png) no-repeat center; width:38.5px; height:15px; background-size:38.5px 15px; }

/* 갤러리 */
.gallary{padding:23px;}
.gallary .g_box{overflow:hidden;}
.gallary .g_box:last-child{margin-top:1.5px;}
.gallary .g_box a{position:relative; display:inline-block; float:left; width:50%;}
.gallary .g_box a:first-child{padding-right:1.5px;}
.gallary .g_box a:last-child{padding-left:1.5px;}
.gallary .g_box a span:first-child img{width:100%; height:auto; }
.gallary .g_box a span:last-child{position:absolute; bottom:10px; left:50%; transform: translateX(-50%);}
.gallary .g_box a .txt_room{background:url(../image/layout/txt_room.png) no-repeat center; width:19px; height:11px; background-size:19px 11px;}
.gallary .g_box a .txt_etc{background:url(../image/layout/txt_etc.png) no-repeat center; width:39px; height:11px; background-size:39px 11px;}
.gallary .g_box a .txt_pro{background:url(../image/layout/txt_pro.png) no-repeat center; width:39px; height:11px; background-size:39px 11px;}
.gallary .g_box a .txt_media{background:url(../image/layout/txt_media.png) no-repeat center; width:19px; height:11px; background-size:19px 11px;}





@media screen and (min-width:411px){
}

@media screen and (min-width:540px){


   

}
@media screen and (min-width:640px){

}

@media screen and (min-width:720px){

}

.swiper-pagination-bullet{border:none!important;}
.swiper-pagination-bullet-active{}



.pt60{padding-top:60px;}

.mt5{margin-top:5px;}
.mt61{margin-top:61px;}